[pyrat]

# Pyrat Bay run mode, select from: [tli pt atmosphere spectrum opacity mcmc]
runmode = spectrum

# Atmospheric model:
atmfile  = ./solar_1000K.atm

# Cross-section opacity files:
csfile  = ../pyratbay/inputs/CIA/CIA_Borysow_H2H2_0060-7000K_0.6-500um.dat
          ../pyratbay/inputs/CIA/CIA_Borysow_H2He_0050-3000K_0.3-030um.dat

# Wavelength sampling options:
wlunits = um
wllow   =  0.3 um ; Spectrum lower boundary (default units: wlunits)
wlhigh  =  1.2 um ; Spectrum higher boundary (default units: wlunits)

# Wavenumber options:
wnunits = cm
wnstep  = 1.0   ; Sampling rate (default units: wnunits)
wnosamp = 2160  ; Wavenumber over-sampling rate

# System parameters:
radunits = km         ; Default distance units
punits   = bar        ; Default pressure units
rstar    = 1.0 rsun   ; Stellar radius (default units: radunits)
mstar    = 1.3 msun   ; Stellar mass
rplanet  =  4.0 rearth
mplanet  = 17.0 mearth
refpressure = 0.32

# Maximum optical depth to calculate:
maxdepth = 10.0

# Observing geometry, select between: [transit eclipse]
path  = eclipse

# Rayleigh models, select from: [lecavelier dw_H2]
rayleigh = lecavelier
rpars    = 0.0 -4.0

# Alkali opacity, select from: [SodiumVdWst PotassiumVdWst]
alkali = SodiumVdWst PotassiumVdWst

# Temperature-profile model, select from: [isothermal TCEA MadhuInv MadhuNoInv]
tmodel = isothermal

# Filter bandpass file:
filter = ../inputs/filters/kepler.dat
         ../inputs/filters/MEarth.dat
         ../inputs/filters/CHEOPS.dat
         ../inputs/filters/TESS.dat

# Opacity file name, temperature range, and step:
extfile = ./opacity_H2O_0300-3000K_0.3-1.2um.dat
tmin  =  300
tmax  = 3000
tstep =  100

# Number of CPUs to use for parallel processing:
nproc = 7

# Verbosity level [1--5]:
verb  = 4

# Output file names:
logfile = ./hot_neptune.log
